<body>
<h1>HELLO</h1>
<h5>whoa"
Shawty come gimme your lo-lo-lo-lo-lo-lo-lo-lo-lo-lo-lo-lo-love, mm-mm</h5>
<img src="./mitImage.jpg" />
<p>A wise king never seeks out war, <a href="https://idiaz0.github.io/">but he must always</a> but he must always be ready for it.</p>
  
<ol>
<li>test1</li>
  <li>test2</li>
  <li>test3</li>
  
</ol>  
  
  
  <ul>
  <li>val1</li>
  <li>val2</li>
  <ul>
  
</body>


